# Dependencies installed from the command line will be added/saved to the package.json file with their exact version, rather than of using npm's default semver range operator.
# See https://docs.npmjs.com/cli/commands/npm-install#save-exact for more details.
save-exact=true
