<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{ title }}</title>
		<link
			rel="preconnect"
			href="https://fonts.googleapis.com"
		/>
		<lin
			rel="preconnect"
			href="https://fonts.gstatic.com"
			crossorigin
		/>
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Asap:wght@400..700&family=Fira+Sans:wght@700&display=swap"
		/>
		<link
			rel="stylesheet"
			href="/assets/css/styles.css"
		/>
		<!-- Favicon: ICO (32×32) -->
		<link
			rel="icon"
			href="/favicon.ico"
			sizes="32x32"
		/>
		<!-- Favicon: SVG -->
		<link
			rel="icon"
			href="/favicon.svg"
			type="image/svg+xml"
		/>
		<!-- Favicon: Apple (180×180) -->
		<!-- It will look better if you place 20px padding around the icon and add some background color) -->
		<link
			rel="apple-touch-icon"
			href="/apple-touch-icon.png"
		/>
		<link
			rel="manifest"
			href="/manifest.webmanifest"
		/>
		<meta
			name="color-scheme"
			content="light dark"
		/>
		<meta
			name="author"
			content="Germán Freixinós López"
		/>
		<meta
			name="description"
			content="{{ description }}"
		/>
	</head>

	<body class="site-layout">
		{% include "partials/site-header.html" %}

		<main class="site-main">{{ content | safe }}</main>

		{% include "partials/site-footer.html" %}

		<!-- SVG sprite -->
		<div hidden>{% include "svg/icons.svg" %}</div>

		<!-- 100% privacy-first Simple Analytics -->
		<script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
		<noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>
	</body>
</html>
