/*
	STRUCTURE:
	1. Global custom properties
	2. Global and inherited styles
	3. Blocks
	4. Exceptions
*/

/* ============ 1. GLOBAL CUSTOM PROPERTIES ============ */

/* ============ 2. GLOBAL AND INHERITED STYLES ============ */

* {
	margin: 0;
}

body {
	display: grid;
	grid-template-rows: auto 1fr auto;
}

/* ============ 3. BLOCKS ============ */

/* Button
   ======================================== */

.button {
	display: inline-flex;
	gap: 1ch;
	align-items: center;
	justify-content: center;
	padding-block: var(--padding-xs);
	padding-inline: var(--padding-md);
	font-weight: var(--fw-500);
	line-height: var(--lh-small);
	text-align: center;
	text-decoration: none;
	background-color: transparent;
	border: var(--bw-2) solid var(--c-bd-2);
	border-radius: var(--border-radius);
}

.button:hover {
	background-color: var(--c-bg-2);
	border-color: var(--c-bd-1);
}

.button > svg {
	flex: none;
	color: var(--c-tx-1);
}

/* Card
   ======================================== */

.card {
	padding: var(--padding-lg);
	border: var(--bw-2) solid var(--c-bd-2);
	border-radius: var(--border-radius);
}

/* Headline
   ======================================== */

.headline {
	text-align: center;
}

.headline * {
	margin-inline: auto;
}

.headline a {
	white-space: nowrap;
}

/* Icon
   ======================================== */

.icon {
	display: inline-block;
	inline-size: 1em;
	block-size: 1em;
}

/* Link icon
   ======================================== */

.link-icon {
	display: inline-block;
	padding: var(--padding-xxs);
	font-size: var(--s-500);
	line-height: 0;
	text-decoration: none;
	border-radius: var(--border-radius);
}

.link-icon:hover {
	background-color: var(--c-bg-a);
}

/* Photo home
   ======================================== */

.photo-home {
	max-inline-size: 8rem;
	border-radius: 50%;
}

/* Photo about
   ======================================== */

.photo-about {
	inline-size: 100%;
	border-radius: var(--border-radius);
}

@media screen and (min-width: 23.5rem) {
	.photo-about {
		max-inline-size: 11rem;
		float: left;
		margin-block-end: 1em;
		margin-inline-end: 1em;
	}
}

/* Portfolio
   ======================================== */

.portfolio {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(100%, 24rem), 1fr));
}

/* Project
   ======================================== */

.project {
	display: flex;
	flex-wrap: wrap;
	gap: var(--s-400);
	align-content: flex-start;
	font-size: 0.875rem;
}

.project__img {
	flex-basis: 13rem;
	flex-grow: 1;
	min-block-size: 10rem;
}

.project img {
	inline-size: 100%;
	block-size: 100%;
	object-fit: cover;
	object-position: top;
	border: var(--bw-1) solid var(--c-bg-3);
	border-radius: var(--border-radius);
}

.project__content {
	flex-basis: 0;
	flex-grow: 999;
	min-inline-size: 60%;
}

.project__title {
	font-size: var(--s-500);
	font-weight: var(--fw-700);
}

.project__title a {
	color: inherit;
}

/* Site header
   ======================================== */

.site-header {
	padding-block: var(--s-500);
}

.site-header__inner {
	display: flex;
	flex-wrap: wrap;
	row-gap: var(--s-500);
	column-gap: var(--s-600);
	align-items: center;
	justify-content: space-between;
}

.site-header__logo {
	font-size: 1.125rem;
	text-decoration: none;
}

.site-header a {
	line-height: var(--lh-small);
	color: inherit;
}

/* Site nav
   ======================================== */

.site-nav {
	column-gap: var(--s-600);
}

.site-nav a {
	display: inline-block;
	color: var(--c-tx-2);
	text-decoration: none;
}

.site-nav a[aria-current="page"] {
	position: relative;
	color: inherit;
}

.site-nav a[aria-current="page"]::after {
	--underline-thickness: var(--bw-3);

	position: absolute;
	inset-block-end: calc(-2 * var(--underline-thickness));
	inset-inline: 0;
	display: block;
	content: "";
	block-size: var(--underline-thickness);
	background-color: var(--c-accent);
}

.site-nav a:hover {
	color: var(--c-tx-1);
}

/* Site main
   ======================================== */

.site-main {
	padding-block-start: var(--s-600);
	padding-block-end: var(--s-900);
}

/* Site footer
   ======================================== */

.site-footer {
	padding-block: var(--s-700);
	color: var(--c-tx-2);
	text-align: center;
	background-color: var(--c-bg-2);
}

.site-footer a {
	color: inherit;
}

.site-footer a:hover {
	color: var(--c-tx-1);
}

/* Tag
   ======================================== */

.tag {
	display: inline-block;
	padding-block: var(--padding-xxs);
	padding-inline: var(--padding-xs);
	font-size: 0.875em;
	font-weight: var(--fw-500);
	line-height: var(--lh-small);
	white-space: nowrap;
	background-color: var(--c-bg-3);
	border-radius: var(--border-radius);
}

/* ============ 4. EXCEPTIONS ============ */
