/*
	STRUCTURE:
	0. At-rules
	1. Global custom properties
	2. Global and inherited styles
	3. Layout primitives
	4. Standard Utility classes
	5. Design Tokens Utility classes
	6. Blocks
	7. Exceptions
*/

/*
	PROPERTY DECLARATION ORDER:
	1. Positioning
	2. Box model
	3. Typographic
	4. Visual
	5. Misc

	References:
	* https://codeguide.co
	* https://github.com/twbs/stylelint-config-twbs-bootstrap/blob/main/css/index.js
*/

/* ============ 0. AT-RULES ============ */

@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/inter.min.css");

/* ============ 1. GLOBAL CUSTOM PROPERTIES ============ */

:root {
	--color-scheme: light dark;

	/* Font Family */
	--ff-sans: "Inter", ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
	--ff-mono: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;

	/* Font Weight */
	--fw-700: 700;
	--fw-600: 600;
	--fw-500: 500;
	--fw-400: 400;

	/* Base Size */
	--base-size: 1rem;

	/* Scale Ratio */
	--ratio: 1.25; /* Major Third */

	/* Size Scale */
	--s-800: calc(var(--base-size) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));
	--s-700: calc(var(--base-size) * var(--ratio) * var(--ratio) * var(--ratio));
	--s-600: calc(var(--base-size) * var(--ratio) * var(--ratio));
	--s-500: calc(var(--base-size) * var(--ratio));
	--s-400: var(--base-size);
	--s-300: calc(var(--base-size) / var(--ratio));
	--s-200: calc(var(--base-size) / var(--ratio) / var(--ratio));
	--s-100: calc(var(--base-size) / var(--ratio) / var(--ratio) / var(--ratio));

	/* Line Height */
	--lh-large: 1.5;
	--lh-small: 1.25;

	/* Inline size */
	--page-max-inline-size: 60rem;
	--measure: 90ch;

	/* Padding */
	--padding-xl: 1.5em;
	--padding-lg: 1.25em;
	--padding-md: 1em;
	--padding-sm: 0.75em;
	--padding-xs: 0.5em;
	--padding-xxs: 0.25em;
	--padding-xxxs: 0.125em;

	/* Colors */

	/* Light theme */
	--c-tx-1:		hsl(214, 15%, 0%);
	--c-tx-2:		hsl(214, 15%, 10%);
	--c-tx-3:		hsl(214, 15%, 40%);
	--c-bg-1:		hsl(214, 0%, 100%);
	--c-bg-2:		hsl(214, 30%, 97%);
	--c-bg-3:		hsl(214, 15%, 90%);
	--c-bg-4:		hsl(214, 15%, 83%);
	--c-lk-1:		hsl(214, 97%, 42%);
	--c-lk-2:		hsl(214, 97%, 37%);
	--c-lk-a:		hsla(214, 97%, 42%, 10%);
	--c-lk-tx:		hsl(214, 0%, 100%);
	--c-ac-1:		hsl(167, 100%, 75%);
	--c-ac-tx:		hsl(167, 75%, 15%);

	/* Dark theme */
	--c-d-tx-1:		hsl(214, 0%, 100%);
	--c-d-tx-2:		hsl(214, 30%, 97%);
	--c-d-tx-3:		hsl(214, 15%, 70%);
	--c-d-bg-1:		hsl(214, 15%, 4%);
	--c-d-bg-2:		hsl(214, 15%, 12%);
	--c-d-bg-3:		hsl(214, 15%, 20%);
	--c-d-bg-4:		hsl(214, 15%, 28%);
	--c-d-lk-1:		hsl(214, 97%, 70%);
	--c-d-lk-2:		hsl(214, 97%, 65%);
	--c-d-lk-a:		hsla(214, 97%, 70%, 10%);
	--c-d-lk-tx:	hsl(214, 15%, 10%);
	--c-d-ac-1:		hsl(270, 65%, 45%);
	--c-d-ac-tx:	hsl(270, 0%, 100%);

	/* Border With */
	--bw-thick: 0.25rem;
	--bw-medium: 0.125rem;
	--bw-thin: 0.0625rem;

	/* Border Radius */
	--border-radius: 0.25rem;
}

[data-theme="dark"] {
	--c-tx-1:	var(--c-d-tx-1);
	--c-tx-2:	var(--c-d-tx-2);
	--c-tx-3:	var(--c-d-tx-3);
	--c-bg-1:	var(--c-d-bg-1);
	--c-bg-2:	var(--c-d-bg-2);
	--c-bg-3:	var(--c-d-bg-3);
	--c-bg-4:	var(--c-d-bg-4);
	--c-lk-1:	var(--c-d-lk-1);
	--c-lk-2:	var(--c-d-lk-2);
	--c-lk-a:	var(--c-d-lk-a);
	--c-lk-tx:	var(--c-d-lk-tx);
	--c-ac-1:	var(--c-d-ac-1);
	--c-ac-tx:	var(--c-d-ac-tx);
}

@media (prefers-color-scheme: dark) {
	[data-theme="system"] {
		--c-tx-1:	var(--c-d-tx-1);
		--c-tx-2:	var(--c-d-tx-2);
		--c-tx-3:	var(--c-d-tx-3);
		--c-bg-1:	var(--c-d-bg-1);
		--c-bg-2:	var(--c-d-bg-2);
		--c-bg-3:	var(--c-d-bg-3);
		--c-bg-4:	var(--c-d-bg-4);
		--c-lk-1:	var(--c-d-lk-1);
		--c-lk-2:	var(--c-d-lk-2);
		--c-lk-a:	var(--c-d-lk-a);
		--c-lk-tx:	var(--c-d-lk-tx);
		--c-ac-1:	var(--c-d-ac-1);
		--c-ac-tx:	var(--c-d-ac-tx);
	}
}

/* ============ 2. GLOBAL AND INHERITED STYLES ============ */

/* All
   ======================================== */

* {
	margin: 0;
}

::selection {
	color: var(--c-ac-tx);
	background: var(--c-ac-1);
}

/* Main root
   ======================================== */

html {
	font-family: var(--ff-sans);
	font-weight: var(--fw-400);
	line-height: var(--lh-large);
	color: var(--c-tx-2);
	accent-color: var(--c-lk-1);
}

/* Sectioning root
   ======================================== */

body {
	background-color: var(--c-bg-1);
}

/* Sticky footer */

body {
	display: flex;
	flex-direction: column;
}

body > main {
	flex-grow: 1;
}

body > header,
body > footer {
	flex-shrink: 0;
}

/* Content sectioning
   ======================================== */

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: var(--fw-700);
	line-height: var(--lh-small);
	color: var(--c-tx-1);
}

h1 {
	font-size: var(--s-700);
}

h2 {
	font-size: var(--s-600);
}

h3 {
	font-size: var(--s-500);
}

h4 {
	font-size: var(--s-400);
}

address {
	font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
figcaption {
	max-inline-size: var(--measure);
}

/* Text content
   ======================================== */

dt {
	font-weight: var(--fw-700);
}

blockquote {
	margin-inline: 0;
	padding: var(--padding-xl);
    text-align: start;
	color: var(3);
	background-color: var(--c-bg-2);
	border-inline-start: var(--bw-thick) solid var(--c-bg-3);
}

blockquote > *:first-child {
	margin-block-start: 0;
}

blockquote > *:last-child {
	margin-block-end: 0;
}

pre {
	padding-block: var(--padding-lg);
	padding-inline: var(--padding-xl);
	font-family: var(--ff-mono);
	font-size: 0.875em;
	background-color: var(--c-bg-2);
	border: var(--bw-thin) solid var(--c-bg-3);
	border-radius: var(--border-radius);
}

hr {
	border: none;
	block-size: var(--bw-medium);
	background-color: var(--c-bg-3);
}

/* Inline text semantics
   ======================================== */

a {
	color: var(--c-lk-1);
}

a:hover {
	color: var(--c-lk-2);
}

b,
strong {
	font-weight: var(--fw-700);
}

mark {
	padding-inline: var(--padding-xxs);
	color: var(--c-ac-tx);
	background-color: var(--c-ac-1);
}

code,
kbd,
samp {
	font-family: var(--ff-mono);
	font-size: 0.875em;
}

code,
kbd {
	border: var(--bw-thin) solid var(--c-bg-3);
	border-radius: var(--border-radius);
}

code {
	padding-block: var(--padding-xxxs);
	padding-inline: var(--padding-xxs);
	background-color: var(--c-bg-2);
}

kbd {
	display: inline-block;
	padding-block: var(--padding-xxs);
	padding-inline: var(--padding-xs);
	font-family: var(--ff-sans);
	font-size: 0.75em;
	line-height: 1;
	white-space: nowrap;
	box-shadow: inset 0 calc(-1 * var(--bw-thin)) 0 var(--c-bg-3);
}

/* Image and multimedia
   ======================================== */

/* Embedded content
   ======================================== */

iframe {
	border: var(--bw-thin) solid var(--c-bg-3);
	border-radius: var(--border-radius);
}

/* SVG
   ======================================== */

/* Table content
   ======================================== */

th,
td {
	border: var(--bw-thin) solid var(--c-bg-3);
}

th {
	font-weight: var(--fw-700);
	background-color: var(--c-bg-2);
}

tr:nth-child(even) {
	background: var(--c-bg-2);
}

caption {
	padding-block: var(--padding-xxs);
	font-weight: var(--fw-700);
}

/* Forms
   ======================================== */

fieldset {
	border: var(--bw-thin) solid var(--c-bg-3);
	border-radius: var(--border-radius);
}

input,
textarea,
select,
button {
	padding-block: var(--padding-xs);
	padding-inline: var(--padding-sm);
	line-height: var(--lh-small);
	color: inherit;
	background-color: var(--c-bg-2);
	border: var(--bw-thin) solid var(--c-bg-3);
	border-radius: var(--border-radius);
}

:where(input, textarea, select):enabled:hover {
	border-color: var(--c-bg-4);
}

select,
button,
[type="button"],
[type="submit"],
[type="reset"] {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 1ch;
}

button,
[type="button"],
[type="submit"],
[type="reset"] {
	padding-inline: var(--padding-md);
	font-weight: var(--fw-500);
	text-align: center;
	color: var(--c-lk-tx);
	background-color: var(--c-lk-1);
	border-color: var(--c-lk-1);
}

[type="color" i] {
	inline-size: 3em;
	block-size: 1.5em;
	padding: var(--padding-xxs);
	background-color: var(--c-bg-1);
}

:where(button, [type="button"], [type="submit"], [type="reset"]):enabled:hover {
	background-color: var(--c-lk-2);
	border-color: var(--c-lk-2);
}

select {
	/* appearance: none;
	background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='4'%3E%3Cpath d='M4 0h6L7 4'/%3E%3C/svg%3E")
		no-repeat right center / 1em;
	border-radius: 0;
	padding-right: 1em; */
}

[type="color" i]::-webkit-color-swatch-wrapper {
	padding: 0;
}

[type="color" i]::-webkit-color-swatch {
	border: 0;
	border-radius: calc(var(--border-radius) / 2);
}

[type="color" i]::-moz-color-swatch {
	border: 0;
	border-radius: calc(var(--border-radius) / 2);
}

/* Interactive elements
   ======================================== */

details {
	padding-block: var(--padding-xs);
	padding-inline: var(--padding-md);
	background-color: var(--c-bg-2);
	border: var(--bw-thin) solid var(--c-bg-3);
	border-radius: var(--border-radius);
}

summary ~ * {
	margin-block: 0;
}

/* ========== Accessibility ========== */

[disabled],
[aria-disabled="true"] {
	opacity: 0.333;
}

:focus-visible {
	--outline-width: var(--bw-medium);
	outline: var(--outline-width) solid var(--c-lk-1);
	outline-offset: var(--outline-width);
}

/* ============ 4. STANDARD UTILITY CLASSES ============ */

/* Flow
   ======================================== */

.flow > * + * {
	--flow-space: calc(var(--ratio) * 1em);
	margin-block-start: var(--flow-space, 1em);
}

.flow > li + li {
	--flow-space: calc(var(--ratio) / 2 * 1em);
}

.flow > h1 + * {
	--flow-space: 3rem;
}

.flow > h2 {
	--flow-space: 3rem;
}

.flow > h3 {
	--flow-space: 2rem;
}

.flow > blockquote,
.flow > blockquote + *,
.flow > .callout,
.flow > .callout + * {
	--flow-space: 3rem;
}

/* Stack
   ======================================== */

[class*="l-stack"] > * + * {
	--spacing: 1rem;
	margin-block-start: var(--spacing, 1rem);
}

.l-stack-xl > * + * {
	--spacing: var(--s-600);
}

.l-stack-lg > * + * {
	--spacing: var(--s-500);
}

.l-stack-md > * + * {
	--spacing: var(--s-400);
}

.l-stack-sm > * + * {
	--spacing: var(--s-300);
}

.l-stack-xs > * + * {
	--spacing: var(--s-200);
}

/* Cluster
   ======================================== */

[class*="l-cluster"] {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.l-cluster-xl {
	gap: var(--s-600);
}

.l-cluster-lg {
	gap: var(--s-500);
}

.l-cluster-md {
	gap: var(--s-400);
}

.l-cluster-sm {
	gap: var(--s-300);
}

.l-cluster-xs {
	gap: var(--s-200);
}

.l-cluster-xxs {
	gap: var(--s-100);
}

/* Grid
   ======================================== */

[class*="l-grid"] {
	--size: 100%;
	--gap: var(--spacing, var(--flow-space, 1rem));
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(100%, calc(var(--size) - var(--gap))), 1fr));
	gap: var(--gap);
}

.l-grid-2 {
	--size: calc(var(--page-max-inline-size) / 2);
}

.l-grid-3 {
	--size: calc(var(--page-max-inline-size) / 3);
}

.l-grid-4 {
	--size: calc(var(--page-max-inline-size) / 4);
}

.l-grid-5 {
	--size: calc(var(--page-max-inline-size) / 5);
}

.l-grid-6 {
	--size: calc(var(--page-max-inline-size) / 6);
}

/* Sidebar
   ======================================== */

[class*="l-with-sidebar-"] {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

[class*="l-with-sidebar-"] > * {
	flex-grow: 1;
}

.l-with-sidebar-left > :nth-child(2) {
	flex-basis: 0;
	flex-grow: 999;
	min-inline-size: 66.666%;
}

.l-with-sidebar-right > :nth-child(1) {
	flex-basis: 0;
	flex-grow: 999;
	min-inline-size: 66.666%;
}

/* Input-Button
   ======================================== */

.l-input-button {
	display: flex;
	flex-wrap: wrap;
	gap: var(--s-200);
}

.l-input-button > * {
	flex-grow: 1;
}

.l-input-button > input {
	flex-basis: 0;
	flex-grow: 999;
	min-inline-size: 66.666%;
}

.l-input-button > [type="number"] {
	min-inline-size: 50%;
}

/* Visually hidden
   ======================================== */

.visually-hidden {
	position: absolute !important;
	inline-size: 1px !important;
	block-size: 1px !important;
	overflow: hidden !important;
	clip-path: inset(50%) !important;
	white-space: nowrap !important;
}

/* With icon
   ======================================== */

.l-with-icon {
	display: flex;
	align-items: flex-start;
	gap: 1em;
}

.l-with-icon__icon {
	flex: none;
}

/* Wrapper
   ======================================== */

.wrapper {
	inline-size: 90%;
	max-inline-size: var(--page-max-inline-size);
	margin-inline: auto;
}

/* ============ 5. DESIGN TOKENS UTILITY CLASSES ============ */

.text-200 {
	font-size: var(--s-200);
}

.text-300 {
	font-size: var(--s-300);
}

.text-400 {
	font-size: var(--s-400);
}

.text-500 {
	font-size: var(--s-500);
}

.text-600 {
	font-size: var(--s-600);
}

.text-700 {
	font-size: var(--s-700);
}

.text-800 {
	font-size: var(--s-800);
}

.weight-regular {
	font-weight: var(--fw-400);
}

.weight-medium {
	font-weight: var(--fw-500);
}

.weight-semibold {
	font-weight: var(--fw-600);
}

.weight-bold {
	font-weight: var(--fw-700);
}

.gap-100 {
	gap: var(--s-100);
}

.gap-200 {
	gap: var(--s-200);
}

.gap-300 {
	gap: var(--s-300);
}

.gap-400 {
	gap: var(--s-400);
}

.gap-500 {
	gap: var(--s-500);
}

.gap-600 {
	gap: var(--s-600);
}

.gap-700 {
	gap: var(--s-700);
}

.gap-800 {
	gap: var(--s-800);
}

/* ============ 6. BLOCKS ============ */

/* Avatar
   ======================================== */

.avatar {
	inline-size: 100%;
	max-inline-size: 8rem;
	border-radius: 50%;
}

/* Button
   ======================================== */

.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 1ch;
	padding-block: var(--padding-xs);
	padding-inline: var(--padding-md);
	font-weight: var(--fw-500);
	line-height: var(--lh-small);
	text-decoration: none;
	text-align: center;
	background-color: transparent;
	border: var(--bw-thin) solid var(--c-bg-3);
	border-radius: var(--border-radius);
}

.button:hover {
	background-color: var(--c-bg-2);
	border-color: var(--c-bg-4);
}

.button > svg {
	flex: none;
	color: var(--c-tx-2);
}

/* Callout
   ======================================== */

.callout {
	padding-block: var(--padding-lg);
	padding-inline: var(--padding-xl);
	background-color: var(--c-lk-a);
	border-radius: var(--border-radius);
}

/* Card
   ======================================== */

.card {
	padding: var(--padding-lg);
	background-color: var(--c-bg-2);
	border: var(--bw-thin) solid var(--c-bg-3);
	border-radius: var(--border-radius);
}

/* Headline
   ======================================== */

.headline {
	text-align: center;
}

.headline * {
	margin-inline: auto;
}

.headline :where(h1, h2, p) {
	margin-inline: auto;
}

.headline a {
	white-space: nowrap;
}

/* Icon
   ======================================== */

.icon {
	display: inline-block;
	inline-size: 1em;
	block-size: 1em;
}

/* Link icon
   ======================================== */

.link-icon {
	display: inline-block;
	padding: var(--padding-xxs);
	font-size: var(--s-500);
	line-height: 0;
	text-decoration: none;
	border-radius: var(--border-radius);
}

/* Portfolio
   ======================================== */

.portfolio {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(100%, 20rem), 1fr));
	gap: var(--s-600);
}

.portfolio > * {
	flex-basis: 19rem;
	flex-grow: 1;
}

/* Project
   ======================================== */

.project {
	display: flex;
	flex-direction: column;
	color: var(--c-tx-3);
	background-color: var(--c-bg-2);
	border: var(--bw-thin) solid var(--c-bg-3);
	border-radius: var(--border-radius);
}

.project__img {
	max-block-size: 15rem;
}

.project img {
	inline-size: 100%;
	block-size: 100%;
	border-start-start-radius: var(--border-radius);
	border-start-end-radius: var(--border-radius);
	object-fit: cover;
	object-position: top;
}

.project__content {
	display: flex;
	flex-direction: column;
	gap: var(--s-300);
	padding: var(--padding-lg);
	border-block-start: var(--bw-thin) solid var(--c-bg-3);
}

.project__content > :last-child {
	margin-block-start: auto;
}

.project__title {
	font-size: var(--s-500);
}

.project a {
	display: block;
}

/* Site header
   ======================================== */

.site-header {
	padding-block: var(--s-500);
	background-color: var(--c-bg-2);
	border-block-end: var(--bw-thin) solid var(--c-bg-3);
}

.site-header__inner {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	row-gap: var(--s-300);
	column-gap: var(--s-600);
}

.site-header__logo {
	text-decoration: none;
	color: inherit;
}

/* Site nav
   ======================================== */

.site-nav a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}

.site-nav a[aria-current="page"] {
	border-block-end: var(--bw-medium) solid var(--c-ac-1);
}

.site-nav a:hover {
	color: var(--c-lk-1);
}

/* Site main
   ======================================== */

.site-main {
	padding-block: var(--s-800);
}

/* Site footer
   ======================================== */

.site-footer {
	padding-block: var(--s-600);
	font-size: var(--s-300);
	text-align: center;
	color: var(--c-tx-3);
	background-color: var(--c-bg-2);
	border-block-start: var(--bw-thin) solid var(--c-bg-3);
}

.site-footer p {
	max-inline-size: 50ch;
	margin-inline: auto;
}

.site-footer a {
	color: inherit;
}

.site-footer a:hover {
	color: var(--c-lk-1);
}

/* Tag
   ======================================== */

.tag {
	display: inline-block;
	padding-block: var(--padding-xxs);
	padding-inline: var(--padding-xs);
	font-size: var(--s-300);
	font-weight: var(--fw-500);
	line-height: var(--lh-small);
	white-space: nowrap;
	border: var(--bw-thin) solid var(--c-bg-3);
	border-radius: var(--border-radius);
}

/* Theme toggle
   ======================================== */

.no-js #theme-toggle-form {
	display: none;
}

.theme-toggle {
	--theme-toggle-spacing: var(--bw-medium);
	--theme-toggle-color-fill: var(--c-lk-1);
	--theme-toggle-color-fill-mute: var(--c-lk-a);
	--theme-toggle-color-on-fill: var(--c-lk-tx);
	--theme-toggle-border-radius: 2em;
	font-size: var(--s-300);
	text-align: center;
}

.theme-toggle fieldset {
	padding: 0;
	border: none;
}

.theme-toggle__inner {
	display: inline-flex;
	gap: var(--theme-toggle-spacing);
	padding: var(--theme-toggle-spacing);
	border: var(--bw-thin) solid var(--theme-toggle-color-fill);
	border-radius: var(--theme-toggle-border-radius);
}

.theme-toggle__option-wrapper {
	position: relative;
	padding-block: var(--padding-xxs);
	padding-inline: var(--padding-sm);
	color: var(--theme-toggle-color-fill);
}

.theme-toggle__option-wrapper,
.theme-toggle__option-text {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--theme-toggle-spacing);
}

.theme-toggle [type="radio"] {
	inline-size: 1em;
	block-size: 1em;
}

.theme-toggle svg {
	flex: none;
	font-size: 1.375em;
}

.theme-toggle__option-text::after {
	content: "";
	position: absolute;
	inset: 0;
	border-radius: var(--theme-toggle-border-radius);
}
.theme-toggle__option-text > * {
	z-index: 1;
}

*:hover > .theme-toggle__option-text::after {
	background-color: var(--theme-toggle-color-fill-mute);
}

:checked + .theme-toggle__option-text {
	color: var(--theme-toggle-color-on-fill);
}

:checked + .theme-toggle__option-text::after {
	background-color: var(--theme-toggle-color-fill);
}

:focus-visible + .theme-toggle__option-text::after {
	--outline-width: var(--bw-medium);
	outline: var(--outline-width) solid var(--c-lk-1);
	outline-offset: var(--outline-width);
}

/* ============ 7. EXCEPTIONS ============ */

[data-layout="justify-center"] {
	justify-content: center;
}

[data-layout="align-center"] {
	align-items: center;
}