/*
	STRUCTURE:
	0. Layers and imports
	1. Global custom properties
	2. Global and inherited styles
	3. Composition / Layout primitives
	4. Utility classes
	5. Blocks
	6. Exceptions
*/

/* ============ 0. LAYERS AND IMPORTS ============ */

@layer base;

@import url("https://germanfrelo.github.io/base-css-stylesheet/base.css") layer(base);

/* ============ 1. GLOBAL CUSTOM PROPERTIES ============ */

:root {
	/* Font Family */
	--ff-fallback: ui-sans-serif, system-ui, -apple-system, "Segoe UI", "Roboto", "Helvetica", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
	--ff-body: "Asap", var(--ff-fallback);
	--ff-headings: "Fira Sans", var(--ff-fallback);
	--ff-mono: ui-monospace, "SFMono-Regular", "Consolas", "Liberation Mono", "Menlo", monospace;

	/* Font Weight */
	--fw-700: 700;
	--fw-600: 600;
	--fw-500: 500;
	--fw-400: 400;

	/* Size Scale */
	--base-size: 1rem;
	--ratio: 1.333;
	--s-900: calc(var(--base-size) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));
	--s-800: calc(var(--base-size) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));
	--s-700: calc(var(--base-size) * var(--ratio) * var(--ratio) * var(--ratio));
	--s-600: calc(var(--base-size) * var(--ratio) * var(--ratio));
	--s-500: calc(var(--base-size) * var(--ratio));
	--s-400: var(--base-size);
	--s-300: calc(var(--base-size) / var(--ratio));
	--s-200: calc(var(--base-size) / var(--ratio) / var(--ratio));
	--s-100: calc(var(--base-size) / var(--ratio) / var(--ratio) / var(--ratio));

	/* Fluid Type Scale */

	/* @link https://utopia.fyi/type/calculator?c=320,18,1.125,1440,20,1.2,5,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
	--step--1: clamp(1rem, calc(0.99rem + 0.06vw), 1.04rem);
	--step-0: clamp(1.13rem, calc(1.09rem + 0.18vw), 1.25rem);
	--step-1: clamp(1.27rem, calc(1.2rem + 0.33vw), 1.5rem);
	--step-2: clamp(1.42rem, calc(1.32rem + 0.54vw), 1.8rem);
	--step-3: clamp(1.6rem, calc(1.44rem + 0.8vw), 2.16rem);
	--step-4: clamp(1.8rem, calc(1.58rem + 1.13vw), 2.59rem);
	--step-5: clamp(2.03rem, calc(1.72rem + 1.55vw), 3.11rem);

	/* Line Height */
	--lh-large: 1.7;
	--lh-small: 1.2;

	/* Line length */
	--page-max-inline-size: 60rem;

	/* Padding */
	--padding-xxxl: 2em;
	--padding-xxl: 1.75em;
	--padding-xl: 1.5em;
	--padding-lg: 1.25em;
	--padding-md: 1em;
	--padding-sm: 0.75em;
	--padding-xs: 0.5em;
	--padding-xxs: 0.25em;
	--padding-xxxs: 0.125em;

	/* Colors */
	--color-scheme: light dark;
	--c-tx-1: hsl(217deg 50% 15%);
	--c-tx-2: hsl(217deg 15% 45%);
	--c-bg-1: hsl(217deg 50% 100%);
	--c-bg-2: hsl(217deg 40% 98%);
	--c-bg-3: hsl(217deg 25% 95%);
	--c-bg-a: hsl(217deg 25% 80% / 33.33%);
	--c-bd-1: hsl(217deg 25% 85%);
	--c-bd-2: hsl(217deg 25% 90%);
	--c-link: hsl(217deg 90% 47%);
	--c-accent: hsl(172deg 100% 45%);
	--c-mark: hsla(55deg 100% 50% / 25%);

	/* Border With */
	--bw-1: 0.0625rem;
	--bw-2: 0.125rem;
	--bw-3: 0.1875rem;
	--bw-4: 0.25rem;

	/* Border Radius */
	--border-radius: 0.25rem;

	/* Transitions */
	--tr-duration: 0.1s;
	--tr-timing-function: ease-in;
}

@media (prefers-color-scheme: dark) {
	:root {
		/* Colors */
		--c-tx-1: hsl(217deg 25% 90%);
		--c-tx-2: hsl(217deg 10% 60%);
		--c-bg-1: hsl(217deg 15% 6%);
		--c-bg-2: hsl(217deg 15% 9%);
		--c-bg-3: hsl(217deg 15% 15%);
		--c-bg-a: hsl(217deg 15% 40% / 33.33%);
		--c-bd-1: hsl(217deg 10% 30%);
		--c-bd-2: hsl(217deg 10% 25%);
		--c-link: hsl(217deg 100% 67%);
		--c-accent: hsl(172deg 100% 45%);
		--c-mark: hsla(55deg 100% 50% / 25%);
	}
}

/* ============ 2. GLOBAL AND INHERITED STYLES ============ */

/* All elements
   ======================================== */

* {
	margin: 0;
}

/* Document
   ======================================== */

html {
	color-scheme: var(--color-scheme);
}

/* Sections
   ======================================== */

body {
	display: grid;
	grid-template-rows: auto 1fr auto;
	font-family: var(--ff-body);
	font-size: var(--step-0);
	font-weight: var(--fw-400);
	font-variant-ligatures: no-common-ligatures;
	line-height: var(--lh-large);
	color: var(--c-tx-1);
	accent-color: var(--c-accent);
	background-color: var(--c-bg-1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--ff-headings);
	font-weight: var(--fw-700);
	font-variant-ligatures: normal;
	line-height: var(--lh-small);
}

h1 {
	font-size: var(--step-5);
}

h2 {
	font-size: var(--step-4);
}

h3 {
	font-size: var(--step-3);
}

h4 {
	font-size: var(--step-2);
}

h5 {
	font-size: var(--step-1);
}

h6 {
	font-size: var(--step-0);
}

/* Grouping content
   ======================================== */

address {
	font-style: normal;
}

hr {
	block-size: var(--bw-2);
	background-color: var(--c-bd-1);
	border: none;
}

pre {
	padding-block: var(--padding-md);
	padding-inline: var(--padding-lg);
	font-family: var(--ff-mono);
	font-size: 0.875em;
	background-color: var(--c-bg-3);
	border-radius: var(--border-radius);
}

blockquote {
	padding-inline: var(--padding-md);
	margin-inline: 0;
	color: var(--c-tx-2);
	text-align: start;
	border-inline-start: var(--bw-4) solid var(--c-bd-1);
}

blockquote > :first-child {
	margin-block-start: 0;
}

blockquote > :last-child {
	margin-block-end: 0;
}

ol,
ul,
menu {
	padding-inline-start: var(--padding-xxxl);
}

/*
Remove list styles on `ol` and `ul` elements with an explicit ARIA list role added, which prevents VoiceOver from removing the list semantics in Safari.
*/
:is(ol, ul)[role="list"] {
	padding-inline-start: 0;
	list-style: none;
}

dt {
	font-weight: var(--fw-700);
}

dd {
	margin-inline-start: var(--padding-xl);
}

/* Text-level semantics
   ======================================== */

a {
	color: var(--c-link);
	transition: color var(--tr-duration) var(--tr-timing-function);
}

:is(h1, h2, h3, h4, h5, h6) a {
	color: inherit;
}

.site-header a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}

a:is(:hover, :focus) {
	text-decoration: none;
}

.site-nav a {
	position: relative;
}

.site-nav a:is([aria-current="page"], :hover)::after {
	--underline-thickness: var(--bw-3);

	position: absolute;
	inset-block-end: calc(-2 * var(--underline-thickness));
	inset-inline: 0;
	display: block;
	content: "";
	block-size: var(--underline-thickness);
	background-color: var(--c-bd-1);
}

.site-nav a[aria-current="page"]::after {
	background-color: var(--c-accent);
}

b,
strong {
	font-weight: var(--fw-700);
}

code,
samp,
kbd {
	font-family: var(--ff-mono);
	font-size: var(--step--1);
}

code {
	padding-block: var(--padding-xxxs);
	padding-inline: var(--padding-xxs);
	background-color: var(--c-bg-a);
	border-radius: var(--border-radius);
}

pre code {
	padding: 0;
	background: inherit;
	border-radius: 0;
}

kbd {
	display: inline-block;
	padding-block: var(--padding-xxs);
	padding-inline: var(--padding-xs);
	font-family: var(--ff-body);
	line-height: 1;
	white-space: nowrap;
	border: var(--bw-1) solid var(--c-bd-1);
	border-radius: var(--border-radius);
	box-shadow: inset 0 calc(-1 * var(--bw-1)) 0 var(--c-bd-1);
}

mark {
	padding-inline: var(--padding-xxs);
	color: inherit;
	background-color: var(--c-mark);
}

/* Embedded content
   ======================================== */

iframe {
	border: var(--bw-1) solid var(--c-bd-1);
}

/* Tabular data
   ======================================== */

th,
td {
	padding-block: var(--padding-xs);
	padding-inline: var(--padding-sm);
	border: var(--bw-1) solid var(--c-bd-1);
}

th,
thead,
tfoot {
	font-weight: var(--fw-600);
}

th,
thead :is(tr, td),
tfoot tr {
	background-color: var(--c-bg-2);
}

td:has(+ th) {
	background-color: var(--c-bg-2);
}

caption {
	padding-block: var(--padding-xxs);
	font-weight: var(--fw-600);
}

/* Forms
   ======================================== */

fieldset {
	border: var(--bw-2) solid var(--c-bd-2);
	border-radius: var(--border-radius);
}

legend {
	font-weight: var(--fw-600);
}

label {
	display: inline-block;
}

input,
textarea,
select,
button {
	padding-block: var(--padding-xs);
	padding-inline: var(--padding-sm);
	line-height: var(--lh-small);
	color: inherit;
	background-color: var(--c-bg-2);
	border: var(--bw-2) solid transparent;
	border-radius: var(--border-radius);
	transition: color var(--tr-duration) var(--tr-timing-function), background-color var(--tr-duration) var(--tr-timing-function), border-color var(--tr-duration) var(--tr-timing-function);
}

button,
[type="button"],
[type="image"],
[type="submit"],
[type="reset"] {
	display: inline-flex;
	gap: 1ch;
	align-items: center;
	justify-content: center;
	padding-inline: var(--padding-md);
	font-weight: var(--fw-600);
	text-align: center;
	background-color: var(--c-bg-1);
	border-color: var(--c-bd-1);
}

[type="image"] {
	padding: revert;
	background-color: revert;
	border: revert;
}

[type="submit"] {
	color: var(--c-bg-1);
	background-color: var(--c-tx-1);
	border-color: var(--c-tx-1);
}

:is(input, textarea, select, button):hover {
	border-color: var(--c-bd-1);
}

:is(input, textarea, select, button):focus {
	background-color: var(--c-bg-1);
}

:is(button, [type="button"], [type="image"], [type="submit"], [type="reset"]):hover {
	background-color: var(--c-bg-2);
}

:is(button, [type="button"], [type="image"], [type="submit"], [type="reset"]):focus {
	background-color: var(--c-bg-2);
}

[type="image"]:hover {
	background-color: revert;
	border-color: revert;
}

[type="image"]:focus {
	background-color: revert;
	border-color: revert;
}

[type="submit"]:hover {
	color: inherit;
	background-color: var(--c-bg-1);
	border-color: var(--c-tx-1);
}

[type="submit"]:focus {
	color: inherit;
	background-color: var(--c-bg-1);
	border-color: var(--c-tx-1);
}

[type="color"] {
	inline-size: 3em;
	block-size: 1.5em;
	padding: var(--padding-xxs);
}

[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}

[type="color"]:is(::-webkit-color-swatch, ::-moz-color-swatch) {
	border: var(--bw-1) solid var(--c-bd-1);
	border-radius: calc(var(--border-radius) / 2);
}

:disabled,
[aria-disabled],
[aria-disabled="true"] {
	opacity: 0.333;
}

/* Interactive elements
   ======================================== */

details {
	padding-inline: var(--padding-xs);
}

summary {
	padding-block: var(--padding-xxs);
	padding-inline: var(--padding-xs);
	margin-inline: calc(-1 * var(--padding-xs));
	transition: background-color var(--tr-duration) var(--tr-timing-function);
}

summary:hover {
	background-color: var(--c-bg-2);
}

summary ~ * {
	margin-block: 0;
}

/* Scripting
   ======================================== */

canvas {
	border: var(--bw-1) solid var(--c-bd-1);
}

/* ============ 3. COMPOSITION / LAYOUT PRIMITIVES ============ */

/* Flow
   ======================================== */

.flow > * + * {
	margin-block-start: var(--flow-space, 1em);
}

.flow :is(h2, h3) {
	--flow-space: 2em;
}

/* Stack
   ======================================== */

[class*="l-stack"] {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

[class*="l-stack"] > * {
	margin-block: 0;
}

[class*="l-stack"] > * + * {
	margin-block-start: var(--space, 1rem);
}

.l-stack-xxxl > * + * {
	--space: var(--s-800);
}

.l-stack-xxl > * + * {
	--space: var(--s-700);
}

.l-stack-xl > * + * {
	--space: var(--s-600);
}

.l-stack-lg > * + * {
	--space: var(--s-500);
}

.l-stack-md > * + * {
	--space: var(--s-400);
}

.l-stack-sm > * + * {
	--space: var(--s-300);
}

.l-stack-xs > * + * {
	--space: var(--s-200);
}

.l-stack-xxs > * + * {
	--space: var(--s-100);
}

/* Cluster
   ======================================== */

[class*="l-cluster"] {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

[class*="l-cluster"] > * {
	margin-block: 0;
}

.l-cluster-xl {
	gap: var(--s-600);
}

.l-cluster-lg {
	gap: var(--s-500);
}

.l-cluster-md {
	gap: var(--s-400);
}

.l-cluster-sm {
	gap: var(--s-300);
}

.l-cluster-xs {
	gap: var(--s-200);
}

.l-cluster-xxs {
	gap: var(--s-100);
}

/* Grid
   ======================================== */

[class*="l-grid"] {
	--size: 100%;
	--gap: var(--space, var(--flow-space, 1rem));

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(100%, calc(var(--size) - var(--gap))), 1fr));
	gap: var(--gap);
}

.l-grid-2 {
	--size: calc(var(--page-max-inline-size) / 2);
}

.l-grid-3 {
	--size: calc(var(--page-max-inline-size) / 3);
}

.l-grid-4 {
	--size: calc(var(--page-max-inline-size) / 4);
}

.l-grid-5 {
	--size: calc(var(--page-max-inline-size) / 5);
}

.l-grid-6 {
	--size: calc(var(--page-max-inline-size) / 6);
}

/* Sidebar
   ======================================== */

[class*="l-with-sidebar-"] {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

[class*="l-with-sidebar-"] > * {
	flex-grow: 1;
}

.l-with-sidebar-left > :nth-child(2) {
	flex-basis: 0;
	flex-grow: 999;
	min-inline-size: 66.666%;
}

.l-with-sidebar-right > :nth-child(1) {
	flex-basis: 0;
	flex-grow: 999;
	min-inline-size: 66.666%;
}

/* Input-Button
   ======================================== */

.l-input-button {
	display: flex;
	flex-wrap: wrap;
	gap: var(--s-200);
}

.l-input-button > * {
	flex-grow: 1;
}

.l-input-button > input {
	flex-basis: 0;
	flex-grow: 999;
	min-inline-size: 66.666%;
}

.l-input-button > [type="number"] {
	min-inline-size: 50%;
}

/* ============ 4. UTILITY CLASSES ============ */

/* Standard utility classes
   ======================================== */

.visually-hidden {
	position: absolute !important;
	inline-size: 1px !important;
	block-size: 1px !important;
	overflow: hidden !important;
	clip-path: inset(50%) !important;
	white-space: nowrap !important;
}

.wrapper {
	inline-size: 90%;
	max-inline-size: var(--page-max-inline-size);
	margin-inline: auto;
}

/* Design tokens utility classes
   ======================================== */

.flex-justify-center {
	justify-content: center;
}

/* Gap */

.gap-100 {
	gap: var(--s-100);
}

.gap-200 {
	gap: var(--s-200);
}

.gap-300 {
	gap: var(--s-300);
}

.gap-400 {
	gap: var(--s-400);
}

.gap-500 {
	gap: var(--s-500);
}

.gap-600 {
	gap: var(--s-600);
}

.gap-700 {
	gap: var(--s-700);
}

.gap-800 {
	gap: var(--s-800);
}

/* Margin Block */

.my-xxs {
	margin-block: var(--s-100);
}

.my-xs {
	margin-block: var(--s-200);
}

.my-sm {
	margin-block: var(--s-300);
}

.my-md {
	margin-block: var(--s-400);
}

.my-lg {
	margin-block: var(--s-500);
}

.my-xl {
	margin-block: var(--s-600);
}

.my-xxl {
	margin-block: var(--s-700);
}

.my-xxxl {
	margin-block: var(--s-800);
}

.my-xxxxl {
	margin-block: var(--s-900);
}

/* Font Size */

.text-step--1 {
	font-size: var(--step--1);
}

.text-step-0 {
	font-size: var(--step-0);
}

.text-step-1 {
	font-size: var(--step-1);
}

.text-step-2 {
	font-size: var(--step-2);
	line-height: var(--lh-small);
}

.text-step-3 {
	font-size: var(--step-3);
	line-height: var(--lh-small);
}

.text-step-4 {
	font-size: var(--step-4);
	line-height: var(--lh-small);
}

.text-step-5 {
	font-size: var(--step-5);
	line-height: var(--lh-small);
}

/* Font Weight */

.font-regular {
	font-weight: var(--fw-400);
}

.font-medium {
	font-weight: var(--fw-500);
}

.font-semibold {
	font-weight: var(--fw-600);
}

.font-bold {
	font-weight: var(--fw-700);
}

/* ============ 5. BLOCKS ============ */

/* Button
   ======================================== */

.button {
	display: inline-flex;
	gap: 1ch;
	align-items: center;
	justify-content: center;
	padding-block: var(--padding-xs);
	padding-inline: var(--padding-md);
	font-weight: var(--fw-500);
	line-height: var(--lh-small);
	text-align: center;
	text-decoration: none;
	background-color: transparent;
	border: var(--bw-2) solid var(--c-bd-2);
	border-radius: var(--border-radius);
}

.button:hover {
	background-color: var(--c-bg-2);
	border-color: var(--c-bd-1);
}

.button > svg {
	flex: none;
	color: var(--c-tx-1);
}

/* Card
   ======================================== */

.card {
	display: flex;
	flex-direction: column;
	align-items: start;
	padding: var(--padding-xl);
	text-align: start;
	border: var(--bw-2) solid var(--c-bd-2);
	border-radius: var(--border-radius);
}

.card > :is(h1, h2, h3, h4, h5, h6) + p {
	flex: 1;
}

/* Icon
   ======================================== */

.icon {
	display: inline-block;
	inline-size: 1em;
	block-size: 1em;
}

/* Link icon
   ======================================== */

.link-icon {
	display: inline-block;
	padding: var(--padding-xxs);
	font-size: var(--step-1);
	line-height: 0;
	color: inherit;
	text-decoration: none;
	border-radius: var(--border-radius);
}

.link-icon:hover {
	background-color: var(--c-bg-a);
}

/* Photo about
   ======================================== */

.photo-about {
	inline-size: 100%;
	border-radius: var(--border-radius);
}

@media screen and (width >= 23.5rem) {
	.photo-about {
		max-inline-size: 11rem;
		float: left;
		margin-block-end: 1em;
		margin-inline-end: 1em;
	}
}

/* Projects
   ======================================== */

.projects {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(100%, 24rem), 1fr));
}

/* Site header
   ======================================== */

.site-header {
	padding-block: var(--s-500);
	line-height: var(--lh-small);
}

.site-header__inner {
	display: flex;
	flex-wrap: wrap;
	row-gap: var(--s-500);
	column-gap: var(--s-600);
	align-items: center;
	justify-content: space-between;
}

/* Site nav
   ======================================== */

.site-nav {
	column-gap: var(--s-600);
}

/* Site main
   ======================================== */

.site-main {
	padding-block-start: var(--s-600);
	padding-block-end: var(--s-900);
}

/* Site footer
   ======================================== */

.site-footer {
	padding-block: var(--s-700);
	font-size: var(--step--1);
	color: var(--c-tx-2);
	text-align: center;
	background-color: var(--c-bg-2);
}

/* Tag
   ======================================== */

.tag {
	display: inline-block;
	padding-block: var(--padding-xxs);
	padding-inline: var(--padding-xs);
	font-size: var(--step--1);
	font-weight: var(--fw-500);
	line-height: var(--lh-small);
	white-space: nowrap;
	background-color: var(--c-bg-3);
	border-radius: var(--border-radius);
}

/* ============ 6. EXCEPTIONS ============ */
