<style>
	.theme-toggle {
		display: none;
	}
</style>

<form id="theme-toggle" class="theme-toggle">
	<fieldset>
		<legend class="visually-hidden">Theme</legend>
		<ul role="list" class="theme-toggle__inner">
			<li>
				<label for="system" class="theme-toggle__option-wrapper">
					<input
						type="radio"
						name="theme"
						value="system"
						id="system"
						class="visually-hidden"
						checked
					/>
					<span class="theme-toggle__option-text" title="System">
						<span class="visually-hidden">System</span>
						<svg
							class="icon"
							role="img"
							aria-hidden="true"
							width="24"
							height="24"
						>
							<use
								xmlns:xlink="http://www.w3.org/1999/xlink"
								xlink:href="/assets/icons/icons.svg#icon-sun-moon"
							></use>
						</svg>
					</span>
				</label>
			</li>
			<li>
				<label for="light" class="theme-toggle__option-wrapper">
					<input
						type="radio"
						name="theme"
						value="light"
						id="light"
						class="visually-hidden"
					/>
					<span class="theme-toggle__option-text" title="Light">
						<span class="visually-hidden">Light</span>
						<svg
							class="icon"
							role="img"
							aria-hidden="true"
							width="24"
							height="24"
						>
							<use
								xmlns:xlink="http://www.w3.org/1999/xlink"
								xlink:href="/assets/icons/icons.svg#icon-sun"
							></use>
						</svg>
					</span>
				</label>
			</li>
			<li>
				<label for="dark" class="theme-toggle__option-wrapper">
					<input
						type="radio"
						name="theme"
						value="dark"
						id="dark"
						class="visually-hidden"
					/>
					<span class="theme-toggle__option-text" title="Dark">
						<span class="visually-hidden">Dark</span>
						<svg
							class="icon"
							role="img"
							aria-hidden="true"
							width="24"
							height="24"
						>
							<use
								xmlns:xlink="http://www.w3.org/1999/xlink"
								xlink:href="/assets/icons/icons.svg#icon-moon"
							></use>
						</svg>
					</span>
				</label>
			</li>
		</ul>
	</fieldset>
</form>

<script>
	// ---------- Theme Toggle ----------

	// If JS is enabled, change the "no-js" data attribute value from the document to display the theme selector
	// document.documentElement.dataset.state = "ready";

	const savedTheme = localStorage.getItem("theme");
	const currentTheme = document.documentElement.dataset.theme;
	const themeToggle = document.querySelector("#theme-toggle");

	if (savedTheme && savedTheme !== currentTheme) {
		themeToggle.querySelector(`input[value='${savedTheme}']`).checked = true;
		setRootDataTheme(savedTheme);
		setColorScheme(savedTheme);
		setImagesByTheme(savedTheme);
	}

	themeToggle.addEventListener("change", (e) => {
		const selectedInput = e.target.closest("input[type='radio']");

		if (selectedInput) {
			const selectedTheme = selectedInput.value;

			setRootDataTheme(selectedTheme);
			setColorScheme(selectedTheme);
			setImagesByTheme(selectedTheme);
			updateSavedTheme(selectedTheme);
		}
	});

	function updateSavedTheme(theme) {
		localStorage.setItem("theme", theme);
	}

	function setRootDataTheme(theme) {
		document.documentElement.dataset.theme = theme;
	}

	function setColorScheme(theme) {
		let colorScheme = "light dark";

		switch (theme) {
			case "light":
			case "dark":
				colorScheme = theme;
				break;

			case "system":
				colorScheme = window.matchMedia("(prefers-color-scheme: dark)").matches
					? "dark light"
					: "light dark";
				break;

			default:
				break;
		}

		// In the meta tag in HTML
		document.querySelector("meta[name='color-scheme']").content = colorScheme;
		// In CSS
		document.documentElement.style.setProperty("--color-scheme", colorScheme);
	}

	function setImagesByTheme(selectedTheme) {
		const imagesAndSources = document.querySelectorAll("[srcset], [src]");

		switch (selectedTheme) {
			case "light":
				imagesAndSources.forEach((element) => {
					if (element.matches("img"))
						element.src = element.src.replace("[dark]", "[light]");
					if (element.matches("source"))
						element.srcset = element.srcset.replace("[dark]", "[light]");
				});
				break;

			case "dark":
				imagesAndSources.forEach((element) => {
					if (element.matches("img"))
						element.src = element.src.replace("[light]", "[dark]");
					if (element.matches("source"))
						element.srcset = element.srcset.replace("[light]", "[dark]");
				});
				break;

			case "system":
				imagesAndSources.forEach((element) => {
					if (element.matches("img"))
						element.src = element.src.replace("[dark]", "[light]");
					if (element.matches("source")) {
						if (element.matches("[media*='light']")) {
							element.srcset = element.srcset.replace("[dark]", "[light]");
						} else if (element.matches("[media*='dark']")) {
							element.srcset = element.srcset.replace("[light]", "[dark]");
						}
					}
				});
				break;

			default:
				break;
		}
	}
</script>

<style>
	.theme-toggle {
		display: revert;
	}
</style>
