<footer class="site-footer flow">
    <div class="wrapper site-footer-layout">
        <ul class="social-list-layout">
            <li>
                <a class="link-icon" href="https://www.linkedin.com/in/germanfrelo" rel="external noreferrer noopener">
                    <svg class="icon" role="img" aria-hidden="true" width="24" height="24">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/icons.svg#icon-linkedin"></use>
                    </svg>
                    <span class="visually-hidden">LinkedIn</span>
                </a>
            </li>
            <li>
                <a class="link-icon" href="https://github.com/germanfrelo" rel="external noreferrer noopener">
                    <svg class="icon" role="img" aria-hidden="true" width="24" height="24">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/icons.svg#icon-github"></use>
                    </svg>
                    <span class="visually-hidden">Github</span>
                </a>
            </li>
            <li>
                <a class="link-icon" href="https://codepen.io/germanfrelo" rel="external noreferrer noopener">
                    <svg class="icon" role="img" aria-hidden="true" width="24" height="24">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/icons.svg#icon-codepen"></use>
                    </svg>
                    <span class="visually-hidden">CodePen</span>
                </a>
            </li>
            <li>
                <a class="link-icon" href="https://twitter.com/germanfrelo" rel="external noreferrer noopener">
                    <svg class="icon" role="img" aria-hidden="true" width="24" height="24">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/icons.svg#icon-twitter"></use>
                    </svg>
                    <span class="visually-hidden">Twitter</span>
                </a>
            </li>
        </ul>

        <form id="theme-toggle-form">
            <fieldset>
                <legend class="visually-hidden">Apariencia</legend>
                <ul class="theme-toggle-layout">
                    <li>
                        <input type="radio" name="theme" value="light" id="light" class="visually-hidden">
                        <label for="light">
                            <span class="visually-hidden">Claro</span>
                            <svg class="icon" role="img" aria-hidden="true" width="24" height="24">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/icons.svg#icon-sun"></use>
                            </svg>
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="theme" value="dark" id="dark" class="visually-hidden">
                        <label for="dark">
                            <span class="visually-hidden">Oscuro</span>
                            <svg class="icon" role="img" aria-hidden="true" width="24" height="24">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/icons.svg#icon-moon"></use>
                            </svg>
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="theme" value="system" id="system" class="visually-hidden" checked>
                        <label for="system">
                            <span class="visually-hidden">Sistema</span>
                            <svg class="icon" role="img" aria-hidden="true" width="24" height="24">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/icons.svg#icon-sun-moon"></use>
                            </svg>
                        </label>
                    </li>
                </ul>
            </fieldset>
        </form>
    </div>

    <p>Sitio web construido usando <a href="https://jamstack.org" rel="external noreferrer noopener">Jamstack</a> (<a href="https://www.11ty.dev" rel="external noreferrer noopener">Eleventy</a> + <a href="https://github.com" rel="external noreferrer noopener">GitHub</a> + <a href="https://www.netlify.com" rel="external noreferrer noopener">Netlify</a>). Código fuente disponible en <a href="https://github.com/germanfrelo/website.git" rel="external noreferrer noopener">GitHub</a>.</p>
</footer>