<header class="[ site-header ] [ weight-semibold ]">
	<div class="wrapper site-header__inner">
		<a
			href="/"
			aria-label="Homepage"
			class="logo"
			>Germán Freixinós López</a
		>

		<nav>
			<ul
				role="list"
				class="[ site-nav ] [ l-cluster-md ]"
			>
				{% for item in navigation.items %}
				<li>
					<a
						href="{{ item.url }}"
						{{
						helpers.getLinkActiveState(item.url,
						page.url)
						|
						safe
						}}
						>{{ item.text }}</a
					>
				</li>
				{% endfor %}
			</ul>
		</nav>
	</div>
</header>
