<footer class="site-footer">
	<div class="wrapper l-stack-md">
		<ul role="list" class="l-cluster-lg flex-justify-center">
			<li>
				<a class="link-icon" href="mailto:hola@germanfrelo.dev" rel="external">
					<svg class="icon" role="img" aria-hidden="true" width="24" height="24">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/icons.svg#icon-envelope"></use>
					</svg>
					<span class="visually-hidden">hola@germanfrelo.dev</span>
				</a>
			</li>

			<li>
				<a class="link-icon" href="https://www.linkedin.com/in/germanfrelo" rel="external me">
					<svg class="icon" role="img" aria-hidden="true" width="24" height="24">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/icons.svg#icon-linkedin"></use>
					</svg>
					<span class="visually-hidden">LinkedIn</span>
				</a>
			</li>

			<li>
				<a class="link-icon" href="https://github.com/germanfrelo" rel="external me">
					<svg class="icon" role="img" aria-hidden="true" width="24" height="24">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/icons.svg#icon-github"></use>
					</svg>
					<span class="visually-hidden">Github</span>
				</a>
			</li>

			<li>
				<a class="link-icon" href="https://codepen.io/germanfrelo" rel="external me">
					<svg class="icon" role="img" aria-hidden="true" width="24" height="24">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/icons.svg#icon-codepen"></use>
					</svg>
					<span class="visually-hidden">CodePen</span>
				</a>
			</li>

			<li>
				<a class="link-icon" href="https://twitter.com/germanfrelo" rel="external me">
					<svg class="icon" role="img" aria-hidden="true" width="24" height="24">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/icons.svg#icon-twitter"></use>
					</svg>
					<span class="visually-hidden">Twitter</span>
				</a>
			</li>

			<li>
				<a class="link-icon" href="https://front-end.social/@germanfrelo" rel="external me">
					<svg class="icon" role="img" aria-hidden="true" width="24" height="24">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/icons.svg#icon-mastodon"></use>
					</svg>
					<span class="visually-hidden">Mastodon</span>
				</a>
			</li>
		</ul>

		<p>
			This site was built using open web standards and
			<a href="https://www.11ty.dev" rel="external">Eleventy</a>. Hosted on
			<a href="https://github.com/germanfrelo/website" rel="external">GitHub</a>
			and published with
			<a href="https://www.netlify.com/" rel="external">Netlify</a>.
		</p>

		<p>2019&ndash;Present</p>
	</div>
</footer>
