<header class="site-header">
	<div class="center site-header-layout">
		<!-- <div>
			<a href="/" aria-label="Homepage" rel="me" class="logo"></a>
		</div> -->

		<nav>
			<ul role="list" class="site-nav-layout">
				{% for item in navigation.items %}
				<li>
					<a href="{{ item.url }}" class="site-nav-link" {{ helpers.getLinkActiveState(item.url, page.url) | safe }} rel="{{ item.rel }}">{{ item.text }}</a>
				</li>
				{% endfor %}
			</ul>
		</nav>

		{% include "partials/social-links.html" %}
	</div>
</header>
