<ul role="list" class="cluster gutter-m flex-justify-center">
	<li>
		<a class="link-only-icon" href="https://www.linkedin.com/in/germanfrelo" rel="external me">
			<svg class="icon" width="24" height="24" aria-hidden="true">
				<use href="#logo-linkedin"></use>
			</svg>
			<span class="visually-hidden">LinkedIn</span>
		</a>
	</li>

	<li>
		<a class="link-only-icon" href="https://github.com/germanfrelo" rel="external me">
			<svg class="icon" width="24" height="24" aria-hidden="true">
				<use href="#logo-github"></use>
			</svg>
			<span class="visually-hidden">Github</span>
		</a>
	</li>

	<li>
		<a class="link-only-icon" href="https://codepen.io/germanfrelo" rel="external me">
			<svg class="icon" width="24" height="24" aria-hidden="true">
				<use href="#logo-codepen"></use>
			</svg>
			<span class="visually-hidden">CodePen</span>
		</a>
	</li>

	<li>
		<a class="link-only-icon" href="https://bsky.app/profile/germanfrelo.dev" rel="external me">
			<svg class="icon" width="24" height="24" aria-hidden="true">
				<use href="#logo-bluesky"></use>
			</svg>
			<span class="visually-hidden">Bluesky</span>
		</a>
	</li>

	<li>
		<a class="link-only-icon" href="https://front-end.social/@germanfrelo" rel="external me">
			<svg class="icon" width="24" height="24" aria-hidden="true">
				<use href="#logo-mastodon"></use>
			</svg>
			<span class="visually-hidden">Mastodon</span>
		</a>
	</li>
</ul>
